#container {
	background-color: blue;
	position: relative;
}

#liste {
	background-color: rgb(250,211,211);
	float:left;
	width: 30%;
	height: 100%;
}

#contenu {
	background-color: rgb(211,249,250);
	float:left;
	width: 70%;
}